body {
  margin: 0 10%;
}

body > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 6.6rem;
  width: 100%;
}

main {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

main > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: inherit;
}

main #title {
  font-weight: 500;
  font-size: 3.8rem;
}

main > div > a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 23rem;
  height: 5.4rem;
  border-radius: 0.8rem;
  border: none;
  background-color: var(--color-primary);
  font-size: 2rem;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 3.9rem;
  border-top: 1px solid var(--color-background-shade-10p);
  width: 100%;
  min-height: 14rem;
}

footer > div {
  display: flex;
  flex-direction: column;
}

footer > div + div {
  margin-left: 5rem;
}

footer > div > h1 {
  font-size: 1.2rem;
}

footer > div > p {
  font-size: 1.2rem;
  color: var(--color-text-tint-50p);
}

footer > div > h1 + p {
  margin-top: 1rem;
}

footer > div > p + p {
  margin-top: 0.5rem;
}

@media (max-width: 1184px) {
  main {
    flex-direction: column;
    align-items: center;
  }

  main > div {
    margin-bottom: 30px;
  }

  main #title {
    font-size: 3.8rem;
    text-align: left;
  }

  main > div > a {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5.5rem;
    border-radius: 0;
  }

  main > img {
    width: 273px;
  }

  footer {
    min-height: 19.5rem;
  }
}
